a:link {
    text-decoration: none;
    color:#F7F9F7;
  }
  
  a:visited {
    text-decoration: none;
    color:#F7F9F7;
  }
  
  a:hover {
    text-decoration: none;
    color:#D3FFE9;
  }
  
  a:active {
    text-decoration: none;
    color:#D3FFE9;
  }
  
body {
    background-image:url("Pictures/Earth.gif");
    background-color: #2F004F;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    color:#F7F9F7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#main_head {
    text-align:center;
    height:100px;
    font-size: 150px;
}

#top {
    background-color: #6A6262;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

#content {
    max-width:1000px;
    margin:auto;
    font-size: 25px;
    padding-bottom:2rem;
}

#student_description {
    text-align:center;
}

.nav {
    background-color:#6A6262;
    color:#F7F9F7;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left:2rem;
    padding-right:2rem;
    align-items:center;
    position:sticky;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    display:flex;
    justify-content: space-between;
}

.name {
    font-size: 150%;
    padding-right:0.75rem;
    padding-left:0.75rem;
}

.nav ul li {
    font-size: 120%;
    padding-right:2rem;
    padding-left:2rem;
    display:inline-block;
    list-style:none;
}

.contact_links {
    text-align: center;
    width:100%;
    padding-top:2.5rem;
    padding-bottom:5rem;
}

.contact {
    height:280px;
    height:100%;
    background-size:cover;
    width:100%;
    padding-top:1rem;
    padding-bottom:1rem;
  }

.card__img {
    object-fit: cover;
    width:50%;
    border: 5px solid #6A6262;
  }

